
/*======= Slideshow ========= */

#slideshow {
  background: #fff;
  height: 40vh;
  /* width: 100%; */
  overflow: hidden;
  position: relative;
  background-position: center;
}
#slideshow img {
  background-size: cover;
  
}